!!! 5
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='initial-scale=1.0')
    //- So that mobile webkit will display zoomed in 
    meta(name='format-detection', content='telephone=no')
    //- disable auto telephone linking in iOS 
    title YouFrom - Successful email confirmation!
    style.
      /* Resets: see reset.css for details */
      .ReadMsgBody { width: 100%; background-color: #F2F2F2;}
      .ExternalClass {width: 100%; background-color: #F2F2F2;}
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
      body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
      body {margin:0; padding:0;}
      table {border-spacing:0;}
      table td {border-collapse:collapse;}
      /* Constrain email width for small screens */
      @media screen and (max-width: 600px) {
        table[class="container"] {
          width: 100% !important;
        }
      }
      /* Give content more room on mobile */
      @media screen and (max-width: 480px) {
        td[class="container-padding"] {
          padding-left: 12px !important;
          padding-right: 12px !important;
        }
      }
  body(style='margin: 0; padding: 10px 0;', bgcolor='#F2F2F2', leftmargin='0', topmargin='0', marginwidth='0', marginheight='0')
    
    br

    table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0', bgcolor='#F2F2F2')
      tr
        td(align='center', valign='top', bgcolor='#F2F2F2', style='background-color: #F2F2F2;')
          //- 600px container (white background) 
          table.container(border='0', width='600', cellpadding='0', cellspacing='0', bgcolor='#FFFFFF')
            tr
              td.container-padding(bgcolor='#2c3e50', style='background-color: #2c3e50; padding-left: 40px; padding-right: 40px; font-size: 14px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333;')
                br
                h1(style='font-weight: normal; font-size: 19px; letter-spacing: 1px; line-height: 24px; color: #FFFFFF; text-align: center;')
                  block mailtitle
                br

            tr
              td.container-padding(bgcolor='#FFFFFF', style='background-color: #FFFFFF; padding-left: 40px; padding-right: 40px; font-size: 14px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333;')
                br
                br

                block mailcontent

                br
                br
                br

            tr
              td(bgcolor='#CCCCCC', style='background-color: #CCCCCC; color: #FFFFFF; font-family: Helvetica, sans-serif; text-align: center; line-height: 2px; height: 2px; overflow: hidden;')
                | &nbsp;

            tr
              td(bgcolor='#F2F2F2', style='background-color: #F2F2F2; color: #FFFFFF; font-family: Helvetica, sans-serif; text-align: center; padding-top: 10px; padding-bottom: 10px;')
                a(href='http://www.youform.me', border='0', style='border: none;')
                  img(src='http://www.youform.me/img/youform-logo-white.svg', border='0', style='border: none;')