extends base


block mailtitle
  | Hooray! One little thing before!


block mailcontent

  p Click here to confirm your email address and activate it.
    br
    a(href='http://www.youform.me/confirm/email/#_{form._id}?token=#_{form.token}&email=#_{form.form_destination}', style='font-family: Andale Mono, Courier, monospace; color: #666;') http://www.youform.me/confirm/email/#_{form._id}?token=#_{form.token}&email=#_{form.form_destination_not_confirmed}
