extends base


block title
  | - The form is ready!


block mailtitle
  | This is the final step!


block mailcontent
  ol
    li
      | Make a form with some fields (eg: name, surname, email, message). Be sure to add 
      span(style='font-family: Andale Mono, Courier, monospace; color: #666;') name 
      | attribute to fields you want to track.
      br
      br
    li
      | Add 
      span(style='font-family: Andale Mono, Courier, monospace; color: #666;') http://www.youform.me/api/form/#_{form._id} 
      | as your form 
      em(style='font-style: italic; color: #aaa;') action 
      | attribute and 
      span(style='font-family: Andale Mono, Courier, monospace; color: #666;') POST 
      | as 
      em(style='font-style: italic; color: #aaa;') method 
      | attribute.
      br
      br
      br

      a(href='http://www.youform.me/dashboard/#_{form._id}?token=#_{form.token}', style='color: #ffffff; font-family: Helvetica, sans-serif; text-decoration: none;') Statistics
