doctype 5
html
  body
    h3 YouForm
    p#intro=intro

    h3 Form submitted
    div#form
      table
        for field, key in form
          tr
            td(style='font-weight: bold') #{key}
            td #{field}