extends base


block title
  | - #{form.subject}


block mailtitle
  | #{form.intro}


block mailcontent

  table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0')
    for field, key in user_form
      tr
        td(style='font-weight: bold; width: 30%; text-align: left; vertical-align: top; font-family: Andale Mono, Courier, monospace; color: #aaaaaa;') #{key}
        td(style='width: 70%; text-align: left; vertical-align: top; color: #666666;') #{field}

  br
  br
  br