doctype 5
html
  head
    title YouForm
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://yui.yahooapis.com/pure/0.3.0/pure-min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', href='/img/favicon.ico')

  body

    block content


    script(type='text/javascript', src='/js/vendor/smoothscroll.js')
    script(type='text/javascript', src='/js/main.js')
    block scripts