doctype html
html
  head
    title YouForm
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/pure.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', href='/img/favicon.ico')

  body

    block content


    script(src='/js/vendor/smoothscroll.js')
    script(src='/bower_components/httpplease/browser-builds/standalone/httpplease.js')
    script(src='/bower_components/httpplease/browser-builds/standalone/httppleaseplugins.js')
    script(src='/js/main.js')
      
    script.
      UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/VQ6oUJ4lOpS6sCLXyHg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();
      UserVoice.push(['set', {
        accent_color: '#448dd6  ',
        trigger_color: 'white',
        trigger_background_color: 'rgba(46, 49, 51, 0.6)  '
      }]);
      UserVoice.push(['identify', {
      }]);
      UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);
      UserVoice.push(['autoprompt', {}]);

    block scripts