extends layout

block content
  .content
    h2 Start here!
    h4 Creating a new form is so simple. Just fill the form below and the job is done.
    form.pure-form.pure-form-stacked(role='form', action='/api/new-form', method='post')
      fieldset.pure-g
        .pure-u-1-2
          div(style='padding-right: 20px;')
            .pure-control-group
              label(for='email-crt') Your email
              input.pure-input-1(type='email', name='email-crt', placeholder='Creator email address', required)
            .pure-control-group
              label(for='email-dest') Destination
              input.pure-input-1(type='email', name='email-dest', placeholder='Destination email address', required)
            .pure-control-group
              label(for='email-dest') Phone
              input.pure-input-1(type='text', name='country-code', placeholder='Country code', required)
              input.pure-input-1(type='tel', name='phone', placeholder='Phone', required)
            .pure-control-group
              label(for='w-name') Name of this form or website
              input.pure-input-1(type='text', name='f-name', placeholder='Website name', required)
            .pure-control-group
              label(for='w-url') Website Domain
              input.pure-input-1(type='url', name='w-url', placeholder='Website url', required)
            .pure-control-group
              label(for='w-success') Error page URL
              input.pure-input-1(type='url', name='w-error-page', placeholder='Error page url', required)
            .pure-control-group
              label(for='w-error') Success page URL
              input.pure-input-1(type='url', name='w-success-page', placeholder='Success page url', required)
        
        .pure-u-1-2
          div(style='padding-left: 20px;')
            .pure-control-group
              label(for='snd-email') Reply-To email address
              input.pure-input-1(type='email', name='snd-email', placeholder='Email sender', required)
            .pure-control-group
              label(for='snd-name') Sender Name
              input.pure-input-1(type='text', name='snd-name', placeholder='Email sender name', required)
            .pure-control-group
              label(for='f-subject') Subject
              input.pure-input-1(type='text', name='f-subject', placeholder='Email subject', required)
            .pure-control-group
              label(for='f-intro') A short text to send
              textarea.pure-input-1(type='text', name='f-intro', placeholder='Introduction', rows='5', required)
            .pure-control-group
              label(for='colours') Pick a color
              span.radio-palette.radio-palette-1.active
                input(type='radio', name='colours', required, checked, value='palette-1')
              span.radio-palette.radio-palette-2
                input(type='radio', name='colours', required, value='palette-2')
              span.radio-palette.radio-palette-3
                input(type='radio', name='colours', required, value='palette-3')
              span.radio-palette.radio-palette-4
                input(type='radio', name='colours', required, value='palette-4')

        .pure-u-1
          .spacer
          .pure-controls
            button.pure-button.pure-button-success(type='submit') Send


block sidebar
  header.header
    hgroup.text-right
        img.logo(src='/img/youform-logo-white.svg')
        h2.brand-tagline Giving life to your static HTML Form
        .spacer
        a.pure-button.pure-button-success(href='/')
          | Discover more


block scripts
  script.
    Array.prototype.forEach.call(document.querySelectorAll('.radio-palette'), function (el) {
      el.addEventListener('click', function () {
        document.querySelector('.radio-palette.active input').removeAttribute('checked');
        document.querySelector('.radio-palette.active').classList.remove('active');

        el.querySelector('input').setAttribute('checked', 'checked');
        el.classList.add('active');
      });
    });
    