<!DOCTYPE html>
<html>
  <head>
    <title>YouForm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="layout" class="pure-g-r">
      <div class="sidebar pure-u">
        <div class="sidebar-table">
          <header class="header">
            <hgroup class="text-right"><img src="/img/youform-logo-white.svg" class="logo">
              <h2 class="brand-tagline">Giving life to your static HTML Form</h2><a href="/" class="pure-button pure-button-success">Discover more</a>
            </hgroup>
          </header>
        </div>
      </div>
      <div class="pure-u-1">
        <div class="content">
          <h2>Start here!</h2>
          <h4>Creating a new form is so simple. Just fill the form below and the job is done.</h4>
          <form role="form" action="/api/new-form" method="post" class="pure-form pure-form-stacked">
            <fieldset class="pure-g">
              <div class="pure-u-1-2">
                <div class="pure-control-group">
                  <label for="email-crt">email-crt</label>
                  <inputpure-input-1-2 type="email" name="email-crt" placeholder="Creator email address" required></inputpure-input-1-2>
                </div>
                <div class="pure-control-group">
                  <label for="email-dest">email-dest</label>
                  <inputpure-input-1-2 type="email" name="email-dest" placeholder="Destination email address" required></inputpure-input-1-2>
                </div>
                <div class="pure-control-group">
                  <label for="w-name">w-name</label>
                  <inputpure-input-1-2 type="text" name="w-name" placeholder="Website name" required></inputpure-input-1-2>
                </div>
                <div class="pure-control-group">
                  <label for="w-url">w-url</label>
                  <inputpure-input-1-2 type="url" name="w-url" placeholder="Website url" required></inputpure-input-1-2>
                </div>
                <div class="pure-control-group">
                  <label for="w-success">w-success</label>
                  <inputpure-input-1-2 type="url" name="w-success-page" placeholder="Error page url" required></inputpure-input-1-2>
                </div>
                <div class="pure-control-group">
                  <label for="w-error">w-error</label>
                  <inputpure-input-1-2 type="url" name="w-error-page" placeholder="Success page url" required></inputpure-input-1-2>
                </div>
              </div>
              <div class="pure-u-1-2">
                <div class="pure-control-group">
                  <label for="snd-email">snd-email</label>
                  <inputpure-input-1-2 type="email" name="snd-email" placeholder="Email sender" required></inputpure-input-1-2>
                </div>
                <div class="pure-control-group">
                  <label for="snd-name">snd-name</label>
                  <inputpure-input-1-2 type="text" name="snd-name" placeholder="Email sender name" required></inputpure-input-1-2>
                </div>
                <div class="pure-control-group">
                  <label for="f-subject">f-subject</label>
                  <inputpure-input-1-2 type="text" name="f-subject" placeholder="Email subject" required></inputpure-input-1-2>
                </div>
                <div class="pure-control-group">
                  <label for="f-intro">f-intro</label>
                  <textareapure-input-1-2 type="text" name="f-intro" placeholder="Introduction" required></textareapure-input-1-2>
                </div>
              </div>
              <div class="pure-u-1">
                <div class="pure-controls">
                  <button type="submit" class="pure-button pure-button-success">Send</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>