<!DOCTYPE html>
<html>
  <head>
    <title>YouForm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="page page-accent">
      <div class="text-spacer"></div>
      <div class="container">
        <div class="pure-g">
          <div class="pure-u-1">
            <div class="text-center"><img src="/img/youform.svg" class="small-brand"></div>
          </div>
        </div>
      </div>
      <div class="text-spacer"></div>
    </div>
    <div class="separator separator-accent"></div>
    <div class="page page-gray">
      <div class="spacer"></div>
      <div class="full-container">
        <div class="pure-g">
          <div class="pure-u-1">
            <h1 class="inline">Start here!&nbsp;&nbsp;</h1>
            <h2 class="inline">Creating a new form is so simple. Just fill the form below and the job is done.</h2>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="separator"></div>
    <div class="page">
      <div class="spacer"></div>
      <div class="full-container">
        <div class="pure-g">
          <div class="pure-u-1">
            <form role="form" action="/api/new-form" method="post" class="pure-form pure-form-stacked">
              <fieldset>
                <div class="pure-g">
                  <div class="pure-u-1-2">
                    <div style="padding-right: 20px;">
                      <div class="pure-control-group">
                        <label for="email-crt">Your email</label>
                        <input type="email" name="email-crt" placeholder="Creator email address" required class="pure-input-1">
                      </div>
                      <div class="pure-control-group">
                        <label for="email-dest">Destination</label>
                        <input type="email" name="email-dest" placeholder="Destination email address" required class="pure-input-1">
                      </div>
                      <div class="pure-control-group">
                        <label for="email-dest">Phone</label>
                        <div class="pure-g float">
                          <div class="pure-u-2-5">
                            <input type="text" name="country-code" placeholder="Country code" required style="width: 90%;" class="pure-input-1">
                          </div>
                          <div class="pure-u-3-5">
                            <input type="tel" name="phone" placeholder="Phone" required class="pure-input-1">
                          </div>
                        </div>
                      </div>
                      <div class="pure-control-group">
                        <label for="w-name">Name of this form or website</label>
                        <input type="text" name="f-name" placeholder="Website name" required class="pure-input-1">
                      </div>
                      <div class="pure-control-group">
                        <label for="w-url">Website Domain</label>
                        <input type="url" name="w-url" placeholder="Website url" required class="pure-input-1">
                      </div>
                      <div class="pure-control-group">
                        <label for="w-success">Error page URL</label>
                        <input type="url" name="w-error-page" placeholder="Error page url" required class="pure-input-1">
                      </div>
                      <div class="pure-control-group">
                        <label for="w-error">Success page URL</label>
                        <input type="url" name="w-success-page" placeholder="Success page url" required class="pure-input-1">
                      </div>
                    </div>
                  </div>
                  <div class="pure-u-1-2">
                    <div style="padding-left: 20px;">
                      <div class="pure-control-group">
                        <label for="snd-email">Reply-To email address</label>
                        <input type="email" name="snd-email" placeholder="Email sender" required class="pure-input-1">
                      </div>
                      <div class="pure-control-group">
                        <label for="snd-name">Sender Name</label>
                        <input type="text" name="snd-name" placeholder="Email sender name" required class="pure-input-1">
                      </div>
                      <div class="pure-control-group">
                        <label for="f-subject">Subject</label>
                        <input type="text" name="f-subject" placeholder="Email subject" required class="pure-input-1">
                      </div>
                      <div class="pure-control-group">
                        <label for="f-intro">A short text to send</label>
                        <textarea type="text" name="f-intro" placeholder="Introduction" rows="5" required class="pure-input-1"></textarea>
                      </div>
                      <div class="pure-control-group">
                        <label for="colours">Pick a color</label><span class="radio-palette radio-palette-1 active">
                          <input type="radio" name="colours" required checked value="palette-1"></span><span class="radio-palette radio-palette-2">
                          <input type="radio" name="colours" required value="palette-2"></span><span class="radio-palette radio-palette-3">
                          <input type="radio" name="colours" required value="palette-3"></span><span class="radio-palette radio-palette-4">
                          <input type="radio" name="colours" required value="palette-4"></span>
                      </div>
                    </div>
                  </div>
                  <div class="pure-u-1">
                    <div class="spacer"></div>
                    <div class="pure-controls">
                      <button type="submit" class="pure-button pure-button-success">Send</button>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/vendor/smoothscroll.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script>
      document.querySelectorAll('.radio-palette').forEach(function (el) {
        el.addEventListener('click', function () {
          document.querySelector('.radio-palette.active input').removeAttribute('checked');
          document.querySelector('.radio-palette.active').classList.remove('active');
          
          el.querySelector('input').setAttribute('checked', 'checked');
          el.classList.add('active');
        });
      });
    </script>
  </body>
</html>