extends ../layout

block content
  .page.page-fullscreen(style='background-image: url("/img/eagle.jpg");')
    .spacer(style='height: 100px;')
    .container
      .pure-g
        .pure-u-1-2
          .text-center
            a(href='#')
              img.brand.footer-brand(src='/img/youform.svg')

            .spacer

            h1 404
            h2 We can't find what you're looking for.
              br
              | Sorry, don't be mad with us!

            .spacer(style='height: 100px;')
